html {
	width: 100%;
	background: #000;
}

body {
	width: 384px;
	background: #c3bdbf;
	overflow-x: hidden;
	margin: 2px auto;
	position: relative;
}

video, #videoCanvas {
	display: none;
}

#main {
	background:
		url('images/border-top-left.png') top left no-repeat,
		url('images/border-top-right.png') top right no-repeat,
		url('images/bottom.png') no-repeat bottom,
		url('images/border-top.png') repeat-x,
		url('images/border-side.png') repeat-y,
		url('images/border-side.png') repeat-y right;
	padding-top: 10px;
}

#display {
	width: 384px;
	height: 352px;
	margin: 20px auto 0;
	background: url('images/coverplate.png') top left no-repeat;
	position: relative;
}

#display :last-child {
	width: 256px;
	height: 256px;
	position: relative;
	top: 38px;
	left: 64px;
}
#setting-controls {
	position: absolute;
	top: 120px;
	left: 25px;
}

#setting-controls #toggle-fullscreen {
	width: 28px;
	height: 30px;
	border: none;
	display: block;
	position: relative;
	left: 0px;
	top: 0px;
	background: url('images/fullscreen-label.png') 0 0 no-repeat,
				url('images/settingsbutton.png') 0 0 no-repeat;
}

#control-panel {
	position: relative;
	width: 100%;
	height: 170px;
	overflow: hidden;
}

#controls {
	position: absolute;
	top: 20px;
	right: 40px;
}
#controls input[type=button] {
	width: 64px;
	height: 64px;
	background: url('images/mainbutton.png');
	border: none;
}

#dpad-settings {
	position: absolute;
	top: 0;
	left: 30px;
	width: 114px;
	height: 116px;
	background: url('images/dpad.png') no-repeat;
}
#dpad-settings>div { position: relative;}
#dpad-settings input[type=button] {
	width: 28px;
	height: 30px;
	position: absolute;
	border: none;
}
#toggle-settings {
	background: url('images/camera-label.png') 0 0 no-repeat;
	top: 0px;
	left: 44px;
}
#toggle-source {
	background: url('images/source-label.png') 0 0 no-repeat;
	right: 0px;
	top: 44px;
}
#toggle-palette {
	background: url('images/palette-label.png') 0 0 no-repeat;
	left: 0px;
	top: 44px;
}

#options {
	display: block;
	position: absolute;
	top: 0px;
	left: -200px;
	width: 196px;
	height: 146px;
	background: url('images/settings-panel.png') left top no-repeat;
}

#options>div {
	margin: 20px 0 0 40px;
}
#settings label { display: none;  }
#settings input { width: 100%; }
#settings div {
	display: block;
	width: 80%;
	padding-top: 10px;
}
div[data-rel="threshold"] {
	background: url('images/label-dither.png') no-repeat;
}
div[data-rel="contrast"] {
	background: url('images/label-contrast.png') no-repeat;
}

#toggle-panel {
	position: absolute;
	left: 0px;
	top: 20px;
	margin: 0px !important;
	width: 30px !important;
}
#toggle-panel input[type=button]{
	width: 28px;
	height: 28px;
	border: 0px;
	margin: 0 0 12px 0 !important;
	padding: 0;
	clear: both;
	float: left;
}
#show-settings { background: url('images/camera-label.png') center center no-repeat,
							url('images/settings-panel-button.png') left center no-repeat;}
#show-palette { background: url('images/palette-label.png') center center no-repeat,
							url('images/settings-panel-button.png') left center no-repeat;}
#leave-options { background: url('images/source-label.png') center center no-repeat,
							url('images/settings-panel-button.png') left center no-repeat;}

:focus  {
	outline: none;
}

#filmroll {
	width: 300px;
	height: 512px;
	margin: 0 auto;
	overflow-y: auto;
	border: 10px solid #5a595f;
	background: #5a595f;
	text-align: center;
	position: relative;
}

#filmroll img {
	margin-bottom: 10px;
	position: relative !important;
}

#filmroll img:first-child {
	position: absolute;
	top: -50px;
}